/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-intaview {
  .c-intaview__heading {
    font-size: 4.4rem;
    font-weight: 500;
    color: $primary;
    text-align: center;
    letter-spacing: 3.2px;
    margin-top: 90px;
    @include tab {
      font-size: 3rem;
      letter-spacing: -3.7px;
      margin-top: 56px;
    }
    @include sp {
      font-size: 2.4rem;
      margin-top: 32px;
      letter-spacing: 1px;
    }
  }
  .c-intaview__subheading {
    font-size: 1.6rem;
    font-weight: 400;
    color: $gray;
    text-align: center;
    line-height: 1.7;
    margin-top: 4px;
    letter-spacing: 0.3px;
    @include tab {
      font-size: 1.4rem;
    }
    @include sp {
      font-size: 1.4rem;
      margin-top: 8px;
      line-height: 1.6;
    }
  }
  .c-intaview__cards {
    display: flex;
    max-width: 960px;
    margin: 54px auto 0;
    width: 100%;
    justify-content: space-between;
    @include tab {
      margin: 32px auto 0;
      max-width: 729px;
    }
    @include sp {
      max-width: 375px;
      margin: 31px auto 0;
      flex-direction: column;
    }
  }
  .c-intaview__card {
    width: 32.6%;
    border: 4px solid $primary;
    position: relative;
    @include tab {
      width: 31.4%;
    }
    @include sp {
      width: 90%;
      margin: 0 auto 47px;
    }
  }
  .c-intaview__spcard {
    @include sp {
      display: flex;
    }
  }
  .c-intaview__cardinfo {
    background-color: $primary;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 294px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 19px;
    left: 2%;
    bottom: -8.7%;
    @include tab {
      width: 190px;
      padding: 13px 8px;
      left: 7%;
      bottom: -7.7%;
    }
    @include sp {
      max-width: 280px;
      padding: 9px 7px;
      left: 50%;
      transform: translateX(-50%);
      bottom: -16.7%;
    }
  }
  .c-intaview__playicon {
    width: 16.6%;
    @include tab {
      width: 19px;
    }
    @include sp {
      width: 19.6%;
      padding-top: 3px;
      padding-left: 14px;
      img {
        width: 19px;
      }
    }
  }
  .c-intaview__cardtext {
    width: 83.4%;
    @include sp {
      width: 79.4%;
    }
  }
  .c-intaview__cardname {
    font-size: 2rem;
    color: #fff;
    @include tab {
      font-size: 1.4rem;
    }
    @include sp {
      font-size: 1.6rem;
    }
  }
  .c-intaview__cardposition {
    font-size: 1.4rem;
    color: #fff;
    @include tab {
      font-size: 1.2rem;
    }
    @include sp {
      font-size: 1.2rem;
      letter-spacing: 0.3px;
    }
  }
  .c-intaview__message {
    max-width: 241px;
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 50px;
    color: $primary;
    margin: 15px auto 1px 21px;
    letter-spacing: 0.3px;
    @include tab {
      font-size: 1.5rem;
      letter-spacing: -1.8px;
      margin: 15px auto 1px 10px;
    }
    @include sp {
      font-size: 1.4rem;
      width: 58%;
      padding-left: 12px;
      padding-top: 69px;
      line-height: 1.6;
      padding-top: 65px;
      margin: 0 0;
    }
  }
  .c-intaview__represent {
    background-color: $primary;
    color: #fff;
    margin-top: 141px;
    padding-bottom: 124px;
    @include sp {
      margin-top: 25px;
      padding-left: 20px;
      padding-bottom: 22px;
    }
  }
  .c-intaview__respresentmain {
    max-width: 960px;
    margin: 0 auto;
  }
  .c-intaview__representtitle {
    font-size: 3.5rem;
    font-weight: 500;
    padding-top: 92px;
    letter-spacing: 1px;
    @include tab {
      font-size: 3.4rem;
    }
    @include sp {
      font-size: 2.4rem;
      padding-top: 34px;
    }
  }
  .c-intaview__representsubtitle {
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 39px;
    letter-spacing: 0.5px;
    @include tab {
      font-size: 2rem;
    }
    @include sp {
      font-size: 2rem;
      margin-top: 30px;
      margin-left: -12px;
    }
  }
  .c-intaview__representcontent {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 28px;
    letter-spacing: 0.4px;
    line-height: 1.75;
    @include sp {
      width: 96%;
      font-size: 1.4rem;
      margin-top: 30px;
      letter-spacing: 0.3px;
      line-height: 1.6;
    }
  }
  .c-intaview__representsp {
    @include sp {
      margin-top: 8px;

      display: inline-block;
    }
  }
  .c-intaview__representsp2 {
    @include sp {
      margin-top: 8px;
      display: inline-block;
    }
  }
  .c-intaview__representbody {
    display: flex;
    justify-content: space-between;
    @include sp {
      flex-direction: column;
    }
  }
  .c-intaview__representimage {
    margin-top: -35px;
    @include sp {
      text-align: center;
      margin-top: 36px;
      margin-left: -5.6%;
      img {
        width: 240px;
      }
    }
  }
  .c-intaview__representbody2 {
  }
  .c-intaview__representadvise {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 31px;
    letter-spacing: -0.5px;
    line-height: 1.8;
    @include tab {
      font-size: 2rem;
    }
    @include sp {
      font-size: 1.6rem;
      margin-top: 15px;
      letter-spacing: 0px;
      line-height: 1.68;
      width: 92%;
    }
  }
  .c-intaview__representsign {
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 23px;
    letter-spacing: 0.6px;
    @include tab {
      font-size: 1.8rem;
    }
    @include sp {
      font-size: 1.4rem;
      width: 47%;
      margin-top: 11px;
      margin-right: 12px;
      margin-left: auto;
    }
  }
  .c-intaview__representbottitle {
    font-size: 3.4rem;
    font-weight: 500;
    margin-top: 47px;
    letter-spacing: 2.3px;
    @include sp {
      font-size: 2.4rem;
      letter-spacing: 1.6px;
      margin-top: 32px;
    }
  }
  .c-intaview__representfooter {
    display: flex;
    max-width: 880px;
    margin: 44px auto 0;
    justify-content: space-between;
    @include sp {
      flex-direction: column;
      margin: 34px auto 0;
    }
  }
  .c-intaview__representlogo {
    width: 42.7%;
    @include sp {
      width: 94.3%;
    }
  }
  .c-intaview__representcontact {
    width: 57.3%;
    margin-top: -6px;
    @include sp {
      margin-top: 25px;
      margin-left: 9px;
      width: 83.3%;
    }
  }
  .c-intaview__representcontactitem {
    display: flex;
    font-size: 2.4rem;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 10px;
    @include tab {
      font-size: 2rem;
    }
    @include sp {
      margin-bottom: 11px;
    }
  }
  .c-intaview__contacten {
    letter-spacing: 0.4px;
    @include sp {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.9;
    }
  }
  .c-intaview__contactlang {
    letter-spacing: 2px;
    position: relative;
    @include sp {
      font-size: 2rem;
      font-weight: 500;
    }
  }
  .c-intaview__contactlang::after {
    content: "";
    position: absolute;
    width: 62px;
    height: 1px;
    background: #fff;
    left: 54px;
    top: 18px;
    @include sp {
      width: 19px;
      height: 1px;
      left: 46px;
      top: 13px;
    }
  }
  .c-intaview__contactitem2 {
    max-width: 346px;
    @include sp {
      max-width: 204px;
    }
  }
  .c-intaview__contacten3 {
    transform: translateX(-36px);
    @include sp {
      transform: translateX(-21px);
      line-height: 2;
    }
  }
  .c-intaview__zoom {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: 0.4s;
    z-index: 2;
  }
  .c-intaview__cardimage {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &::after {
      content: "";
      background: #fff;
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.4s;
    }
    &:hover {
      &::after {
        transition: 0.4s;
        opacity: 0.6;
      }
      .c-intaview__zoom {
        transform: translate(-50%, -50%);
        transition: 0.4s;
        bottom: 27.8%;
      }
    }
    @include sp {
      width: 42%;
    }
  }
  .c-intaview__zoomin {
    width: 30px;
    height: 30px;
  }
  .c-intaview__zoomtitle {
    font-size: 2.4rem;
    font-weight: 600;
    color: $secondary;
    @include sp {
      font-size: 1.6rem;
    }
  }
  .c-intaview__modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: rgba($color: #fff, $alpha: 0.9);
    max-height: 957px;
    overflow: auto;
  }
  .c-intaview__modalmain {
    max-width: 960px;
    margin: 80px auto;
    border: 4px solid $primary;
    padding: 48px 57px;
    @include sp {
      width: 90%;
      padding: 21px 17px;
    }
  }
  .c-intaview__modalcontent {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    @include sp {
      flex-direction: column;
    }
  }
  .c-intaview__modaltitle {
    font-size: 2.4rem;
    font-weight: 600;
    color: $primary;
    letter-spacing: -2px;
    @include sp {
      font-size: 2rem;
    }
  }
  .c-intaview__modalcardname {
    background: $primary;
    padding: 10px 0 13px;
  }
  .c-intaview__modalcard {
    width: 34.6%;
    @include sp {
      width: 100%;
    }
  }
  .c-intaview__modalqa {
    width: 65.4%;
    max-width: 510px;
    color: #0b0b0b;
    dt {
      font-size: 1.8rem;
      font-weight: 600;
    }
    dd {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.8;
      margin-top: 7px;
      margin-bottom: 59px;
    }
    @include sp {
      width: 100%;
    }
  }
  .c-intaview__modalname {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
  }
  .c-intaview__modalposition {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
  }
  .c-intaview__modalbutton {
    margin-left: auto;
    margin-top: 35px;
  }
}
