//baseWidth
$base-width: 1000px;

$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$primary: #0080cc;
$secondary: #005384;
$orange: #ff5800;
$gray: #3c3c3c;
$gray1: #a0a0a0;
