/* Header
------------------------------------------------------------*/
.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 21px;
    position: relative;
    background: rgba(255, 255, 255, 0.9);

    .c-gnav {
        margin: 7px auto 0;
        flex: 1 1 auto;
        max-width: 721px;
        ul {
            display: flex;
        justify-content: space-between;
        }

        li {
            display: inline-block;
        }
    }
    .c-header__firstitem {
        margin-left: 50px;
    }
    .c-header__seconditem {
        margin-left: -7px;
        transform: translateX(8px );
    }
    .c-header__thirditem {
        margin-left: 20px;
    }
    .c-header__logo {
        padding-bottom: 6px;
    }

    .c-header__gnavitem {
        font-size: 1.6rem;
        text-transform: capitalize;
               
    }
    .c-header__gnavitem:hover{
        cursor: pointer;
    }
    .is-active{
        a{
            border-bottom: 2px solid $primary;
            padding-bottom: 6px
        }
    }
    .is-hover{
        a{
            border-bottom: 2px solid $primary;
            padding-bottom: 6px
        }
    }
    .c-header__assignment {
        margin-top: 6px;
        transform: translateX(1px);
        background-color: $primary;
        border-radius: 9px;
        font-size: 1.8rem;
        width: 185px;
        text-align: center;
        height: 50px;
        color: #fff;
        img {
            width: 20px;
            height: 20px;
            position: relative;
            top: 32%;
            left: -5px;
        }

        span {
            display: inline-block;
            padding-top: 12px;
            letter-spacing: 2.3px;
            margin-left: -2px;
    
        }
    }
}
/* Main menu
------------------------------------------------------------*/
