/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    min-width: 320px;
    line-height: 1.5;
    font-weight: 400;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------
main {
    // padding: 0px 0 100px;
}

section {
}

//-------------------------------------------------------
.l-container {
  
}
//-------------------------------------------------------
