/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    min-width: 320px;
    line-height: 1.5;
    font-weight: 400;
    position: relative;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------
main {
    // padding: 0px 0 100px;
}

section {
}

//-------------------------------------------------------
.l-container {
  
}
//-------------------------------------------------------
.is-show{
    display: block;
}
.is-close{
    display: none;
}
.is-fixed{
    overflow: hidden;
}
.is-pc{
    display: block;
    @include tab {
        display: none;
    }
    @include sp {
        display: none;
    }
}