/* layout
------------------------------------------------------------*/
body {
  font-family: $main-fonts;
  font-size: 1.4rem;
  min-width: 320px;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  @include sp {
    min-width: 320px;
  }
}
//-------------------------------------------------------
main {
  // padding: 0px 0 100px;
}

section {
}
.p-main{
  margin-top: 78px;
  @include tab {
    margin-top: 120px;
  }
  @include sp {
    margin-top: 58px;
  }
}
//-------------------------------------------------------
.l-container {
}
//-------------------------------------------------------
.is-open{
  display: block !important;
}
.is-hide{
  display: none !important;
}
.is-show {
  display: block;
}
.is-close {
  display: none;
}
.is-fixed {
  overflow: hidden;
}
.is-pc {
  display: block;
  @include tab {
    display: none;
  }
  @include sp {
    display: none;
  }
}
.is-pcntab {
  display: block;
  @include tab {
    display: block;
  }
  @include sp {
    display: none;
  }
}
.is-tabnsp{
  display: none;
  @include tab{
    display: block;
  }
  @include sp {
    display: block;
  }
}
.is-tabnpctr{
  display: table-row;
  @include tab {
    display: table-row;
  }
  @include sp {
    display: none;
  }
}
.is-tabnsptr{
  display: none;
  @include tab {
    display: table-row;
  }
  @include sp {
    display: table-row;
  }
}
.is-tabtr{
  display: none;
  @include tab {
    display: table-row;
  }
  @include sp {
    display: none;
  }
}
.is-tabnpc {
  display: block;
  @include sp {
    display: none;
  }
}
.is-pcnsp {
  display: block;
  @include tab {
    display: none;
  }
  @include sp {
    display: block;
  }
}
.is-tab {
  display: none;
  @include tab {
    display: block;
  }
  @include sp {
    display: none;
  }
}
.is-sp {
  display: none;
  @include sp {
    display: block;
  }
}
.is-pctr {
  display: table-row;
  @include sp {
    display: none;
  }
}
.is-pcspan {
  display: inline-block;
  @include tab {
    display: none;
  }
  @include sp {
    display: none;
  }
}
.is-spspan {
  display: none;
  @include sp {
    display: inline-block;
  }
}
@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
.fade-inup{
  opacity: 0;
  animation-duration: 1s;
    animation-fill-mode: both;
  animation-name: fadeInUp;
}
