<section class="c-career">
  <h2 class="c-career__heading">
    もうすぐ創業50年、 <br>あなたのキャリアプランもしっかり考えています。
  </h2>
  <p class="c-career__subheading">
    世間では、終身雇用が保証されにくい世の中になってきました。<br>
    その中で、「長く勤めることができる会社」「手に職をつけられる業種」は、キャリア形成にも影響します。<br>
    人が生きている以上、家や建物を建てることは無くなりません。<br>
    また、古くなった建物を部分的に改修することは増えていきます。<br>
    その時にあなたがエクステリア業界のプロになっていれば、たくさんの生きる道を作ることができます。<br>
    株式会社ENTEXでは、会社の成長だけでなく、あなたの成長も応援します。<br>
  </p>
 
</section>

