<header class="c-header">
  <h1 class="c-header__logo"><a href="<%= BASE_URL %>index.html"><img src="./assets/img/logo.png" alt="Logo"></a></h1>
  <nav class="c-gnav">
    <ul>
      <% if (typeof linklists != 'undefined') { %>
        <% linklists.main && linklists.main.forEach(link => { %>
          <li class="c-header__gnavitem u-primary">
            <a <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title %></a>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </nav>
  <a href="#" class="c-header__assignment">
        <img src="./assets/img/assignment.png" alt="募集要項">
        <span>募集要項</span>
  </a>
</header>
