<header class="c-header">
  <h1 class="c-header__logo"><a href="<%= BASE_URL %>index.html"><img src="./assets/img/logo.png" alt="Logo"></a></h1>
  <nav class="c-gnav">
    <ul>
      <% if (typeof linklists != 'undefined') { %>
        <% linklists.main && linklists.main.forEach(link => { %>
          <li <% if(link.class) {%>class="c-header__gnavitem u-primary <%=link.class%>" <%}  %>  >
            <a><%= link.title %></a>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </nav>
  <a href="#" class="c-header__assignment">
        <img src="./assets/img/assignment.svg" alt="募集要項">
        <span>募集要項</span>
  </a>
  <div class="is-sp">
    <img src="./assets/img/menu.svg" alt="">
  </div>
</header>
