<section class="c-recruit">
    <h2 class="c-recruit__firstheading">
        採用情報
    </h2> 
    <p class="c-recruit__subheading">
        株式会社エンテックスでは、下記の人材を募集しています。<br>
        詳しくは募集要項をご確認ください。
    </p>
    <div class="c-recruit__tabs">
        <div class="c-recruit__tab is-active">
            <span>新卒採用</span> 
        </div>
        <div class="c-recruit__tab">
           <span>中途採用</span> 
        </div>
    </div>
    <div class="c-recruit__tabcontent">
        <table>
            <tr class="c-recruit__firstrow">
                <th class="c-recruit__firstrow">職種</th>
                <td class="c-recruit__firsttd c-recruit__firstrow">外構工事・土木工事（未経験者）</td>
            </tr>
            <tr>
                <th class="c-recruit__othersth">仕事内容</th>
                <td class="c-recruit__otherstd">外構工事、土木工事、各種工事<br>
                    各種解体業<br>
                    新築販売(設計・施工・販売)、リフォーム事業、宅地建物取引業</td>
            </tr>
            <tr>
                <th class="c-recruit__othersth">雇用形態</th>
                <td class="c-recruit__otherstd">正社員</td>
            </tr>
            <tr>
                <th class="c-recruit__othersth">応募資格</th>
                <td class="c-recruit__otherstd">土木、建設、建築を学んだ方、未経験者も可<br>
                    普通自動車免許取得者</td>
            </tr>
            <tr>
                <th class="c-recruit__othersth">給与</th>
                <td class="c-recruit__otherstd">外構工事・土木工事（未経験者）194,000円～282,000円</td>
            </tr>
            <tr>
                <th class="c-recruit__othersth">昇給賞与</th>
                <td class="c-recruit__otherstd">昇給年に１回<br>
                    賞与年に2回（夏、冬）</td>
            </tr>
            <tr>
                <th class="c-recruit__othersth">諸手当</th>
                <td class="c-recruit__otherstd">皆勤手当：5,000円<br>
                    固定休日手当：5日分（賃金単価による）<br>
                    資格手当: 内容により上限20,000円<br>
                   残業手当あり</td>
            </tr>
            <tr>
                <th class="c-recruit__othersth">福利厚生</th>
                <td class="c-recruit__otherstd">社会保険完備（健康保険、厚生年金保険、労災保険、雇用保険）</td>
            </tr>
            <tr>
                <th class="c-recruit__othersth">勤務地</th>
                <td class="c-recruit__otherstd">〒662-0928 兵庫県西宮市石在町17-41</td>
            </tr>
            <tr>
                <th class="c-recruit__othersth">勤務時間</th>
                <td class="c-recruit__otherstd">8:00 ～ 17:00　変形(１年単位)</td>
            </tr>
            <tr>
                <th class="c-recruit__othersth">休日休暇</th>
                <td class="c-recruit__otherstd">日・祝　会社カレンダーによる　夏季・年末年始</td>
            </tr>
            <tr>
                <th class="c-recruit__othersth">採用担当</th>
                <td class="c-recruit__otherstd">遠藤</td>
            </tr>
            <tr>
                <th class="c-recruit__othersth">応募者向け<br>メッセージ</th>
                <td class="c-recruit__otherstd">阪神間でNo.1を誇る外構･エクステリア業者です。お客様に喜ばれる仕事を理念に掲げ、即戦力となる社員育成を行っております。幅広い仕事をこなす事が出来、年に一度上司によるキャリアアップ等に関する面談、資格取得支援もありスキルアップのチャンスがあります。</td>
            </tr>
           
        </table>
         <div class="c-recruit__tableactions">
                <div class="c-recruit__student c-recruit__tableaction">
                    <img class="c-recruit__assignmenticon" src="./assets/img/assignment.svg" alt="高校生の方はこちら">
                    <p class="c-recruit__assignmenttext c-recruit__tableaction1">高校生の方はこちら</p> 
                </div>
                <div class="c-recruit__nonstudent c-recruit__tableaction">
                    <img class="c-recruit__assignmenticon" src="./assets/img/assignment.svg" alt="高校生以外の方はこちら">
                    <p class="c-recruit__assignmenttext c-recruit__tableaction2">高校生以外の方はこちら </p>         
                </div>
            </div>
    </div>
    <p class="c-recruit__firstheading">会社情報</p>
    <div class="c-recruit__about">
        <table>
            <tr>
                <th>商号</th>
                <td>株式会社　ENTEX（エンテックス）</td>
            </tr>
            <tr>
                <th>代表取締役社長</th>
                <td>遠藤 剛</td>
            </tr>
            <tr>
                <th>所在地</th>
                <td>〒662-0928　兵庫県西宮市石在町17-41</td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td>0798-23-6600</td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>0798-23-6611</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>office@entex.co.jp</td>
            </tr>
            <tr>
                <th>資本金</th>
                <td>1000万円</td>
            </tr>
            <tr>
                <th>営業種目</th>
                <td>
                    <ul>
                        <li>
                            １．エクステリアの設計・施工・販売
                        </li>
                        <li>
                            ２．造成土木の施工
                        </li>
                        <li>
                            ３．各種解体工事
                        </li>
                        <li>
                            ４．戸建新築住宅の設計・施工・販売
                        </li>
                        <li>
                            ５．リフォーム工事の設計・施工
                        </li>
                        <li>
                            ６．不動産の仲介・売買
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>取引先銀行</th>
                <td>三井住友銀行　西宮北口支店／みなと銀行　西宮支店 <br>
                    尼崎信用金庫　阪神西宮支店／日新信用金庫　西宮今津支店</td>
            </tr>
            <tr>
                <th>職員</th>
                <td>7名（社長、営業本部長、営業2名、インテリアコーディネーター、事務員、経理）</td>
            </tr>
            <tr>
                <th>施工管理者</th>
                <td>20名</td>
            </tr>
            <tr>
                <th>所在地</th>
                <td>建設業許可　兵庫県知事（般-24）第212783号</td>
            </tr>
            <tr>
                <th>産業廃棄物収集運搬</th>
                <td>第02700132723号、第02803132723号</td>
            </tr>
            <tr>
                <th>宅地建物取引業</th>
                <td>兵庫県知事（1）第204254号</td>
            </tr>
            <tr>
                <th>2級建築士事務所</th>
                <td>兵庫県知事登録第02 04382号</td>
            </tr>
            <tr>
                <th>有資格者</th>
                <td>1級施工管理技士（1名）／　ブロック建築1級（2名）／　2級建築士（2名）／　2級土木施工管理技士（2名）／　2級管工事施工管理技士（1名）／　宅地建物取引士（2名）／　下水道排水設備工事責任技術者（1名）</td>
            </tr>
            <tr>
                <th>車両</th>
                <td>トラック7台／軽乗用車3台／乗用車5台／ハイエース1台</td>
            </tr>
            <tr>
                <th>厚生施設</th>
                <td>社員寮あり</td>
            </tr>
            <tr>
                <th>産業廃棄物収集運搬</th>
                <td>第02700132723号、第02803132723号</td>
            </tr>
            <tr>
                <th>アクセス</th>
                <td>西宮市役所から南へ徒歩10分</td>
            </tr>
        </table>
    </div>
</section>
